<ion-view view-title="Day Detail">
  <ion-content>
    <div class="dayDetail">
      <div class="list card">
        <div class="item">
          <div class="item item-icon-left">
            <span class="dayName">{{ day.date }}</span>
            <span class="badge" ng-class="{'badge-red' : data.hours > 8.5, 'badge-green': data.hours <= 8.5}">
              <span>{{ day.hours }} h</span>
            </span>
          </div>
        </div>
        <div class="item item-body">
          <div class="row" ng-repeat="checkin in checkins">
            <div class="col-50">
              <p class="checkin-label"><i class="icon ion-clock"></i> Check-In:</p>
              <ul>
                <li>{{ checkin.start }}</li>
                <li>{{ checkin.end }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
