<ion-view view-title="Day Detail">
  <ion-content>
    <div class="dayDetail">
      <div class="list card">
        <div class="item">
          <div class="item item-icon-left">
            Montag - 23.11.2015
            <span class="badge badge-red">
              <span>10,5 h</span>
            </span>
          </div>
        </div>
        <div class="item item-body">
          <div class="row">
            <div class="col-50">
              a
            </div>
            <div class="col-50">
              b
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
