<ion-view view-title="Day Detail">
  <ion-content>
    <div class="dayDetail">
      <div class="list card">
        <div class="item">
          <div class="item item-icon-left">
            <span class="dayName">{{ day.date }}</span>
            <span class="badge" ng-class="{'badge-red' : day.minutes > 8.5*60, 'badge-green': day.minutes <= 8.5*60}">
              <span>{{ (day.minutes/60) | number:2 }} h</span>
            </span>
          </div>
        </div>
        <div class="item item-body">
          <div class="row" ng-repeat="checkin in checkins">
            <div class="col-50">
              <p class="checkin-label"><i class="icon ion-clock"></i> Check-In:</p>
              <div class="row">
                <span class="col-30">
                  {{ checkin.from }}
                </span>
                <span class="col-30">
                  {{ checkin.to }}
                </span>
                <span class="col-30">
                  {{ (checkin.minutes/60) | number:2 }} h
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
