<ion-view view-title="Week Overview">
  <ion-content>
    <div class="weekOverview">
      <div class="list card">
        <a class="item item-icon-left" href="#/app/dayDetail">
          Montag - 23.11.2015
          <span class="badge badge-red">
            <span>10,5 h</span>
          </span>
        </a>
        <a class="item item-icon-left" href="#/app/dayDetail">
          Dienstag - 24.11.2015
          <span class="badge badge-green">
            <span>8 h</span>
          </span>
        </a>
        <a class="item item-icon-left" href="#/app/dayDetail">
          Mittwoch - 25.11.2015
          <span class="badge badge-green">
            <span>7,7 h</span>
          </span>
        </a>
        <a class="item item-icon-left" href="#/app/dayDetail">
          Donnerstag - 26.11.2015
          <span class="badge badge-green">
            <span>8,5 h</span>
          </span>
        </a>
        <a class="item item-icon-left" href="#/app/dayDetail">
          Freitag - 27.11.2015
          <span class="badge badge-green">
            <span>6 h</span>
          </span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
