<ion-view view-title="Week Overview">
  <ion-content>
    <div class="weekOverview">
      <div class="list card">
        <a class="item item-icon-left" href="#/app/dayDetail" ng-repeat="(day, data) in weekDays">
          Montag - 23.11.2015
          {{ data.date }}
          <span class="badge" ng-class="{'badge-red' : data.hours > 8.5, 'badge-green': data.hours <= 8.5}">
            <span>{{ data.hours }} h</span>
          </span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
