/* Empty. Add your own CSS if you like */

/* Header Bar */
.bar.bar-stable {
  background: #387EF5;
}
.bar.bar-stable.sidebar {
  background: #F0F0F0;
}
.bar.bar-stable.sidebar .title {
  color: #000;
}
.bar.bar-stable .title {
  color: #FFF;
}

.bar-stable .button.button-clear {
  color: #FFF;
}

/* Login */


/* Checkin */

/* Week Overview */
.item-icon-left {
  padding-left: 16px;
}
.badge {
    width: 60px;
    text-align: center;
}
span.badge span {
  position: relative;
  margin: 0 auto;
}
.badge.badge-red {
  background-color: red;
  color: #FFF;
}
.badge.badge-green {
  background-color: #009900;
  color: #FFF;
}

/* Day Detail */
.dayDetail span.dayName {
  font-weight: bold;
}

.dayDetail p.checkin-label,
.dayDetail p.checkout-label {
  text-align: center;
  font-weight: bold;
}

.dayDetail ul li {
  text-align: center;
  margin-bottom: 10px;
}
